NEXT_PUBLIC_SUPABASE_URL=https://mbzjucikdjmzqzrqrwcb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1iemp1Y2lrZGptenF6cnFyd2NiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE0NDM3NzUsImV4cCI6MjA5NzAxOTc3NX0.igceRRdIIwcRRMAQgMdghAYkKsE9teSTEesuyLRHZXc
